
    <mat-toolbar color="primary">
      <span><mat-icon>change_history</mat-icon>&nbsp;Angular Application 2</span>
      <div class="spacer"></div>
      <div>
        <a class="" mat-button>Home</a>&nbsp;&nbsp;
        <a class="" mat-raised-button routerLink="profile">Profile</a>&nbsp;&nbsp;
      <a class="" mat-raised-button routerLink="login">Login</a>&nbsp;&nbsp;
      <!-- <a class="" mat-raised-button routerLink="register" color="accent">Register</a> -->
      </div>
      
    </mat-toolbar>

  