<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<app-navbar></app-navbar>
<div class="container">
	<div class="row p-4">
	  <div class="col-sm-6 border border-primary p-4">
        <app-view-one></app-view-one>
	  </div>
	  <div class="col-sm-6 border border-primary p-4">
		<app-view-two></app-view-two>
	  </div>
	</div>
</div>
<router-outlet></router-outlet>